* {
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body
{
    width: 100%;
    height: 100%;
    background: #f8f8f8 !important;
}
p{
    font-weight: 550;
}
.badge_text
{
    margin-top: 1vh;
    font-weight: 550 !important;
    font-size: 1em !important;
}
.summoner_icon {
    margin-left: 2vw;
    position: relative;
    display: inline-block;
    border: 4px solid #0F76E1;
    width: 10vw;
}
.summoner_level {
    margin-right: 0 !important;
    cursor: default;
    position: absolute;
    margin-top: 4vh;
    padding-left: 2.5vw;
    display: inline-block;
    font-size: 1.4em;
    
}
.summoner_spell
{
    padding: 0;
    border-radius: 5px;
    border: 2.7px solid #7994A1;
    margin-top: 2vh;
    width: 3vw;
}
.summoner_rune
{
    padding: 0;
    border-radius: 5px;
    border: 2.7px solid #7994A1;
    margin-top: 2vh;
    width: 2.2vw;
}
.summoner_league_card
{
    height: 34vh;
}
.summoner_rank
{
    width: 9vw;
}
.fav_champ_banner
{
    padding: 0 !important;
    margin:0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fav_champ_banner{
    border-radius: 6px;
    float: left !important;
    padding: 0 !important;
    margin:0 !important;
    flex-shrink: 0;
    min-width: 10%;
    min-height: 110%
}
.vl {
    position: absolute;
    top: 2.7vh;
    border-left: 1.9px solid#7994A1;
    height: 30vh;
  }
