* {
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body
{
    width: 100%;
    height: 100%;
    background: #f8f8f8 !important;
}
p{
    font-weight: 550;
}
.badge_text
{
    margin-top: 1vh;
    font-weight: 550 !important;
    font-size: 1em !important;
}
.summoner_icon {
    position: relative;
    display: inline-block;
    border: 4px solid #0F76E1;
    width: 10vw;
}
.summoner_level {
    margin-right: 0 !important;
    cursor: default;
    position: absolute;
    margin-top: 4vh;
    padding-left: 2.5vw;
    display: inline-block;
    font-size: 1.4em;
    
}
.summoner_league_card
{
    height: 28vh;
}
.summoner_rank
{
    width: 9vw;
}
.vl {
    position: absolute;
    top: 2.7vh;
    border-left: 1.9px solid#7994A1;
    height: 30vh;
  }
