* {
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body
{
    width: 100%;
    height: 100%;
    background: #f8f8f8 !important;
}

p{
    font-weight: 550;
}
.badge_text
{
    margin-top: 1vh;
    font-weight: 550 !important;
    font-size: 1em !important;
}
.summoner_icon {
    padding: 0 !important;
    margin-left: 1.7vw;
    position: relative;
    display: inline-block;
    border: 20px solid transparent;
    width: 11vw;
    overflow: hidden;
}
.summoner_level {
    margin-right: 0 !important;
    cursor: default;
    position: absolute;
    margin-top: 4vh;
    padding-left: 2.5vw;
    display: inline-block;
    font-size: 1.4em;
    
}
.summoner_position
{
    width: 3vw;
}
.summoner_spell
{
    padding: 0;
    border-radius: 5px;
    border: 2.7px solid #7994A1;
    margin-top: 2vh;
    width: 3vw;
}
.summoner_rune
{
    padding: .6vh;
    border-radius: 5px;
    border: 2.7px solid #7994A1;
    margin-top: 2vh;
    width: 2.2vw;
}
.summoner_perk0_rune
{
    padding: .6vh;
    border-radius: 5px;
    border: 2.7px solid #7994A1;
    margin-top: 2vh;
    width: 2.6vw;
}
.summoner_league_card
{
    height: 34vh;
}
.summoner_fav_card
{
    border: 0 !important;
    height: 34vh;
}
.summoner_rank
{
    width: 9vw;
}
.fav_champ_banner
{
    padding: 0 !important;
    margin:0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fav_champ_banner{
    border-radius: 6px;
    float: left !important;
    padding: 0 !important;
    margin:0 !important;
    flex-shrink: 0;
    min-width: 10%;
    min-height: 110%
}
.item_image
{
    padding: 0!important;
    border: .2vw solid #7994A1;
    margin: .3vw !important;
    width: 3.4vw !important;
}
.none_item_image
{
    background-color: transparent;
    padding: 0!important;
    border: .2vw solid #7994A1;
    margin: .3vw !important;
    width: 3.4vw !important;
}
.live_summoner_icon
{
    margin-right: .4vw;
    border-radius: 6px;
    border: 2px solid #f8f8f8;
    width: 2.6vw;
}
.card-header
{
    height: 8vh !important;
    
}
.recent-match-champ
{
    margin-left: 1vw;
    border-radius: 50%;
    width: 4.4vw;
}
.recent-match-rune
{
    padding: 0;
    border-radius: 10%;
    width: 2.2vw !important;
}
.recent-match-primary-rune
{
    margin-left: 1vw;
    padding: 0;
    border-radius: 10%;
    width: 2.4vw !important;
}
.recent-match-sub-rune
{
    margin-left: .4vw;
    padding: 0;
    border-radius: 10%;
    width: 1.8vw !important;
}
.recent_champ_level
{
    margin-left: .62vw;
    font-size: .68em !important;
    position: absolute;
    margin-bottom: 60%;
    margin-right: 10%;
    
}
.vl {
    position: absolute;
    top: 2.7vh;
    border-left: 1.9px solid#7994A1;
    height: 30vh;
  }

  .nav-pills > li > a.active {
    background-color: #198754 !important;
    color: #ffffff !important;
  }
  .nav-link-color {
    color: #ffffff;
  }
  /* !region tooltip*/
  


  
/* !region accordion */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 1vw;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  .accordion:hover {
    background-color: #198754;
    color: white;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }